<%= form_for(@research) do |f| %>
  <% if @research.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@research.errors.count, "error") %> prohibited this research from being saved:</h2>

      <ul>
      <% @research.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :date %><br>
    <%= f.text_field :date %>
  </div>
  <div class="field">
    <%= f.label :code %><br>
    <%= f.text_field :code %>
  </div>
  <div class="field">
    <%= f.label :research_type %><br>
    <%= f.text_field :research_type %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :area %><br>
    <%= f.text_field :area %>
  </div>
  <div class="field">
    <%= f.label :author_id %><br>
    <%= f.text_field :author_id %>
  </div>
  <div class="field">
    <%= f.label :monument_id %><br>
    <%= f.text_field :monument_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
